<template>
    <button class="atm__btn atm__btn--key" @click="changeAmount(keyNo)">{{ keyNo }}</button>
</template>

<script>
export default {
    name: "AtmButton",
    props: ["key-no"],
    methods: {
        changeAmount(value){
            this.$emit('changeAmount', value);
        }
    }
}
</script>

