<template>
   <div class="atm">
       <div class="atm__screen">
         <p class="atm__guide">Please type the amount that you want to withdraw.</p>
         <input type="number" class="atm__input" v-model="withdraw" value="withdraw">
         <div class="atm__keyboard">
            <atm-button @changeAmount="onChangeAmount" :key-no="7"/>
            <atm-button @changeAmount="onChangeAmount" :key-no="8"/>
            <atm-button @changeAmount="onChangeAmount" :key-no="9"/>
            <button class="atm__btn atm__btn--cancel" @click="resetAmount">Cancel</button>
            <atm-button @changeAmount="onChangeAmount" :key-no="4"/>
            <atm-button @changeAmount="onChangeAmount" :key-no="5"/>
            <atm-button @changeAmount="onChangeAmount" :key-no="6"/>
            <button class="atm__btn atm__btn--correct" @click="correctAmount">Correct</button>
            <atm-button @changeAmount="onChangeAmount" :key-no="1"/>
            <atm-button @changeAmount="onChangeAmount" :key-no="2"/>
            <atm-button @changeAmount="onChangeAmount" :key-no="3"/>
            <button class="atm__btn atm__btn--confirm" @click="confirmWithdraw">Confirm</button>
            <atm-button :key-no="null"/>
            <atm-button @changeAmount="onChangeAmount" :key-no="0"/>
            <atm-button :key-no="null"/>
         </div>
       </div>
       <MessageToast v-if="showToast">You have withdrawn {{ lastWithdraw }} $. Please take the notes and money.</MessageToast>
       <MessageToast v-if="showErrorToast">{{ errorToast }}</MessageToast>

    </div> 
</template>

<script lang="ts">
    import { mapGetters } from 'vuex';
    import AtmButton from './AtmButton.vue';
    import MessageToast from './MessageToast.vue';

    export default {
        data() {
            return {
                withdraw: undefined,
                lastWithdraw: undefined,
                notes: [],
                nominals: [100, 50, 20, 10]
            }
        },
        components: {
            AtmButton,
            MessageToast
        },
        computed: {
            ...mapGetters ({
                showToast: "getDisplayToast",
                showErrorToast: "getDisplayErrorToast",
                errorToast: "getToastErrorMsg"
            })
        },
        methods : {
            onChangeAmount(value) {
                if(this.withdraw){
                    this.withdraw += value.toString();
                } else {
                    this.withdraw = value;
                }
            },
            resetAmount(){
                this.withdraw = null;
            },
            correctAmount() {
                if(this.withdraw){
                    this.withdraw = this.withdraw.slice(0, -1);
                } else if(this.withdraw === 0){
                    this.withdraw = undefined;
                }
            },
            confirmWithdraw() {
                let sum = this.lastWithdraw = parseInt(this.withdraw, 10),
                    amount = sum,
                    hasError = false;

                this.withdraw = undefined;
                this.notes = [];

                if(!sum){
                    throw new Error('Empty set');
                    hasError = true;
                } 
                if(sum < 0 || (isNaN(sum) && sum)) {
                    throw new Error('Invalid argument');
                    hasError = true;
                }
                if(sum.toString().slice(-1) !== "0" && sum){
                    throw new Error('Note unavailable');
                    hasError = true;
                }

                if(!hasError){
                    this.nominals.forEach(el => {
                        if(sum === 0){
                           return;
                        }
                        sum = this._checkAndAddNotes(sum, el); 
                    });
                    console.log(`Withdraw amount: ${amount}\nNotes: ${this.notes}`);
                    this.$store.dispatch("displayToast", { isError: false });
                } 
            },
            _checkAndAddNotes(sum, nominal){
                let amount = Math.floor(sum / nominal);
                    for(let i = 0; i < amount; i ++){
                        this.notes.push(nominal);
                    }
                    sum = sum - amount * nominal;
                    return sum;
            }
        }
    };
</script>
