<template>
    <div class="toast" :class="hasError ? 'toast--red' : 'toast--normal'">
        <slot>
        </slot>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
    computed: {
        ...mapGetters({
            hasError: "getDisplayErrorToast"
        })
    }
}
</script>


<style <style lang="scss" scoped>
    @import '../assets/sass/base.scss';
    .toast {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 70%;
        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%);
        color: $color-white;
        padding: 0.8rem 1rem;
        font-size: .9rem;
        border-radius: 4px;
        animation: slide-in-up 0.3s;
        word-break: break-word;
        max-width: 95%;
        z-index: 2000;
        @media only screen and (min-height: $bp-big-h){
            top: 28rem;

        }
        // @media only screen and (min-width: $bp-large){
        //     top: 50%;
        // }
        &--red {
            background-color: rgba($color-orangered, 0.9);
            box-shadow: 0px 0px 8px rgba($color-orangered, .7);
        }
        &--normal {
            background: rgba($color-black, 0.557);
            box-shadow: 0px 0px 8px #333;
        }
    }
</style>
