.atm {
    display: grid;
    justify-content: center;
    &__screen {
      position: relative;
      background-color: $color-blue-lightest;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem 1rem;
      @media only screen and (min-width: $bp-small){
        padding: 3rem 3rem;
        border-radius: .4rem;
      }
    }
  
    &__input {
      border: none;
      background-color: rgba($color-blue-light, .3);
      border-bottom: 2px solid $color-blue-light;
      box-shadow: 2px 2px 2px rgba(grey, .2);
      margin: 1.2rem 0;
      width: calc(100% - 1.2rem);
      font-size: 2rem;
      line-height: 2.8rem;
      padding: 2px 10px;
    }
  
    &__keyboard {
      display: grid;
      grid-template-columns: repeat(3, minmax(max-content, 3rem)) minmax(max-content, 4.6rem);
      grid-column-gap: .2rem;
      grid-row-gap: .2rem;

      @media only screen and (min-width: $bp-small){
        grid-template-columns: repeat(3, minmax(max-content, 5.2rem)) minmax(max-content, 7.6rem);
      }
    }
  
    &__btn {
      cursor: pointer;
  
      &:focus {
          outline: none;
      }
      
      &--cancel,
      &--correct,
      &--confirm {
        text-transform: uppercase;
        margin-left: .4rem;
        font-size: 1.1rem;
        color: $color-blue-dark;
      }
      &--confirm {
         background-image: linear-gradient(to right, $color-green-light, $color-green);
         border: 1px solid $color-green;
      }
      &--correct {
          background-image: linear-gradient(to right, $color-yellow-light, $color-yellow);
          border: 1px solid $color-yellow;
      }
      &--cancel {
          background-image: linear-gradient(to right, $color-orangered-light, $color-orangered);
          border: 1px solid $color-orangered;
      }
      &--key {
        color: $color-blue-dark;
        font-size: 2.2rem;
        background-image: linear-gradient(to right, $color-blue-light, $color-blue);
        border: 1px solid $color-blue-light;
        transform: translateY(0);
      }
      &--confirm,
      &--cancel,
      &--correct,
      &--key {
          border-radius: 5px;
          &:hover {
            transform: translateY(2px);
        }

        &:focus,
        &:active {
            transform: translateY(1px);
        }
      }
    }
  }
