<template>
  <div id="app">
    <cash-machine />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import CashMachine from "./components/CashMachine.vue";

export default {
  name: "app",
  components: {
    CashMachine
  }
};
</script>

<style lang="scss">
@import './assets/sass/main.scss';

</style>
