$color-blue-light: #71c6ff;
$color-blue-lighter: #b0defd;
$color-blue-lightest: #d5e9f7;
$color-blue: #9ad4fa;
$color-blue-dark: #08588d;

$color-green-light: #bfdf80;
$color-green: rgb(154, 205, 50);

$color-yellow-light: rgb(243, 243, 160);
$color-yellow: rgb(255, 255, 0);

$color-orangered-light: rgb(255, 126, 79);
$color-orangered: rgb(248, 70, 6);

$color-black: #000;
$color-white: #fff;

// RDW BREAKPOINTS
$bp-small: 20em;
$bp-big-h: 30em;